openapi: 3.2.0
info:
  title: Oneflow Public Comments API
  description: The Oneflow Public API is a REST API for the Oneflow contract lifecycle management and e-signature platform.
  version: '1.0'
  contact:
    name: Oneflow
    url: https://developer.oneflow.com
  termsOfService: https://oneflow.com/terms-of-service/
servers:
- url: https://api.oneflow.com/v1
  description: Oneflow Public API (production)
security:
- apiToken: []
  userEmail: []
tags:
- name: Comments
  description: Inline collaboration comments on a contract.
paths:
  /contracts/{contract_id}/comments:
    parameters:
    - $ref: '#/components/parameters/contractId'
    get:
      operationId: getContractComments
      tags:
      - Comments
      summary: Get contract comments
      description: Retrieves the inline comments left on a contract during negotiation (modeled).
      responses:
        '200':
          description: A list of comments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: integer
        parameter_errors:
          type: object
        errors:
          type: array
          items:
            type: object
    Comment:
      type: object
      properties:
        id:
          type: integer
        message:
          type: string
        author_name:
          type: string
        created_time:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid API token / user email.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    contractId:
      name: contract_id
      in: path
      required: true
      schema:
        type: integer
      description: The ID of the contract.
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: x-oneflow-api-token
      description: Account API token generated in the Oneflow Marketplace.
    userEmail:
      type: apiKey
      in: header
      name: x-oneflow-user-email
      description: Email of the acting Oneflow user, used for permission-scoped authorization. Optional on some endpoints; omitting it runs the request as an anonymous admin user.
